<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lear VueJs</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
  <header class="page-header">
    <h1>Header</h1>
  </header>
  <div class="container">
    <div class="list-blog">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi sunt eveniet maxime magni in, nostrum 
        facilis, temporibus, quam facere sint est blanditiis harum dicta. 
        Tempore suscipit ut hic. Deleniti, qui.
      </p>
    </div>
    <div id="app">
      <div class="cart">Giỏ hàng ({{ cartNumber }})</div>

      <div class="product">
        <div class="product-image">
          <div class="image">
            <img v-bind:src="getProduct.images" alt="Áo thun">
          </div>
        </div>
        <div class="product-content">
          <h3 class="title">
          <a v-bind:href="url" v-bind:target="target">{{ title }}</a>
          </h3>
          <p class="brand">Thương hiệu: No brand</p>
          <p class="quantity" v-if="getProduct.quantity > 0">Còn lại: {{ getProduct.quantity }} Sản phẩm</p>
          <p class="quantity" v-if="getProduct.quantity <= 0">Sản phẩm đã hết hàng</p>

          <div class="wrapper-price">
            <div class="final-price">{{ formatSalePrice }}</div>
            <div class="origin-price">{{ formatOriginalPrice }}</div>
            <div class="sale-price">-{{ sale * 100 }}%</div>
          </div>
          <div class="wrapper-color">
            <div class="text">Màu sắc</div>
            <div class="list-color">
              <p class="color-text">{{ getProduct.color }}</p>
              <ul>
                <li 
                  v-for="(item,index) in listProduct"
                  v-bind:class="isActive(index)"
                  v-bind:key="index"
                  v-on:click="chooseColor($event, index)">
                  <img v-bind:src="item.images" v-bind:alt="item.color">
                </li>
              </ul>
            </div>
          </div>
          <button class="add-to-cart" v-on:click="handleAddToCart">Add to cart</button>
        </div>
      </div>

      <div class="description">
        <ul class="extra-info">
          <li v-for="value in listDesc">{{value}}</li>
        </ul>
        <h2>Chất liệu bền chặt&nbsp;</h2>
        <!-- v-html -->
        <div v-html="description"></div>
      </div>
            
    </div>
  </div>
  <footer class="page-footer">
      <h1>Footer</h1>
  </footer>

  <script src="main.js"></script>
</body>
</html>
